.gallery-outer-container {
    width: 90%;
    margin-left: 8%;
    margin-top: 100px;
}

.gallery-section-inner-container {
    display: flex;
    /* padding: 32px; */
    flex-wrap: wrap;
}

.gallery-section-title {
    margin-left: 12px;
    margin-top: 48px;
    margin-bottom: 4px;
}

.gallery-entry {
    width: 208px;
    height: 208px;
    background-color: aqua;
    margin: 12px;
}
